@model UserEditSupervisorViewModel

<div class="row row-line-after">
    <div class="col xl12 l12 s12 m12">
        <div class="card-panel">
            Questo comando genera e assegna una nuova password per l'utente.<br />
            Sarà poi inviata all'utente una email contenente l'utenza e la nuova password generata <br />
            <br />
            Prima di effettuare questa operazione assicurarsi che l'email dell'utente sia quella corretta<br />
            <br />
            <br />
            <form asp-controller="@MvcComponents.CtrlAdministrationUsersPost"
                  asp-action="@MvcComponents.ActUserEditSupervisorResetPasswordPost"
                  asp-antiforgery="true" method="post"
                  id="form-supervisor-reset-password">

                @*non usare id per questo campo, c'è rischio collisione con le altre form della view chiamante*@
                <input type="hidden" name="@ParamsNames.UserId" value="@Model.UserId" />

                <partial name="@MvcComponents.SharedPartialButtonsBackSubmit"
                         model=@(
                         new ButtonsBackSubmitViewModel()
                         {
                             Id = "submit-supervisor-reset-password",
                             SubmitLabel = "Reset password",
                             HideBackButtonComponent = true,
                         }) />
            </form>
        </div>
    </div>
</div>