@model UserChangePasswordResultViewModel

@inject ContextApp _contextApp
@inject IMainLocalizer _localizer
@inject IHttpContextAccessorWeb _webHttpContextAccessor

@{
    Layout = MvcComponents.TemplateSecureAreaInnerGenericFile;

    ViewData.SetTitle(_localizer[nameof(LocalizedStr.UserChangePasswordResultPageTitle)]);
}
@section styles
{
}
@section scripts
{
}

<partial name="@MvcComponents.SharedPartialTitlePageInSecureArea" 
         model="@_localizer[nameof(LocalizedStr.UserChangePasswordResultPageSubtitle)].ToString()"/>

<div class="row row-line-after">
    <div class="col xl12 l12 m12 s12">
        @_localizer[nameof(LocalizedStr.UserChangePasswordResultConfirmationMessage)]
    </div>
</div>

<div class="row row-line-after">
    <div class="col xl12 l12 m12 s12">
        @_localizer[nameof(LocalizedStr.UserChangePasswordResultNextExpiration)]<br>
        <strong>@Model.Expiration.ToStringDateWithLiteralMonth(_contextApp.GetCurrentCulture())</strong>
    </div>
</div>

<div class="row row-line-x2-before row-line-after"> 
    <div class="col s12 m12 l12 xl12">
        <partial name="@MvcComponents.SharedPartialButtonContinue"/>
    </div>
</div>